<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<section class="home">
  <div class="home-content">
    <h1>Hi, I'm <span>Santiago Cordova</span></h1>
    <div class="text-animation">
      <h3>Software Developer</h3>
    </div>
    <p>Currently on my 7th semester, majoring in Computer Engineering,
      at ITESO University
    </p>
    <p class="neon">Looking for Part Time Job (Internship) - Remote OR in Guadalajara, Mexico</p>
    <div class="btn-box">
      <a mat-raised-button routerLink="/contact" class="btn">Contact Me</a>
      <a mat-raised-button class="btn" (click)="downloadF()" href="../../../assets/CV.pdf" Download="CV.pdf">
        <mat-icon>{{dlButton}}</mat-icon> {{download}}
      </a>
    </div>
  </div>

  <div class="home-sci">
    <a href=""><i class='bx bxl-facebook'></i></a>
    <a href="https://www.linkedin.com/in/santiago-cordova/" target="_blank"><i class='bx bxl-linkedin'></i></a>
    <a href=""><i class='bx bxl-twitter'></i> </a>
  </div>
</section>
