@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

section {
  padding: 10rem 9% 2rem;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.heading {
  font-size: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

span {
  color: var(--main-contrast-color);
}

.year {
  display: flex;
  align-items: center;

  //   i {
  //     margin-right: 5px;
  //   }
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;




}

.education .education-row {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education .education-column {
  flex: 1 1 22rem;
}

.education-column .title {
  font-size: 2.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
  border-left: .2rem solid var(--main-contrast-color);
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}

.education-box .education-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--main-contrast-color);
  border-radius: 50%
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: .2rem solid var(--main-contrast-color);
  border-radius: .6rem;
  margin-bottom: 2rem;

  h3 {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
  }
}

.education-content .content .year {
  font-size: 1rem;
  color: var(--main-contrast-color);
  padding-bottom: 1rem;

  i {
    padding-right: .5rem;
  }
}
