<section class="education">
  <h2 class="heading">My <span>Projects</span></h2>

  <div class="education-row">
    <div class="education-column">
      <h3 class="title">University Projects</h3>

      <div class="education-box">
        <div class="education-content">
          <div class="content">
            <div class="year">
              <i>
                <mat-icon class="micon">emoji_objects</mat-icon>
              </i>April - May 2022
            </div>
            <h3>IMAGE FILTER JAVA API</h3>
            <p>Created an API using Java and its environment that converts images with different filters, by changing
              manually the color
              of each pixel.</p>
          </div>
        </div>

        <div class="education-content">
          <div class="content">
            <div class="year">
              <i>
                <mat-icon class="micon">emoji_objects</mat-icon>
              </i> Nov - Dec 2022
            </div>
            <h3>CLASS SCHEDULER WEBSITE - JAVASCRIPT, HTML/CSS </h3>
            <p>Designed and developed a Functional Website focused to create a class scheduler for students in our
              University using real
              classes and its algorithm is intelligent enough to prevent classes from overlapping.</p>
            <p>Stack used for Front- end : HTML, CSS, Bootstrap, and for Back-End: JavaScript, Node JS, MongoDB,
              JWT(Authentication).
            </p>
            <p>Created in a group of 3, in a period of one month.</p>
          </div>
        </div>
        <div class="education-content">
          <div class="content">
            <div class="year">
              <i>
                <mat-icon class="micon">emoji_objects</mat-icon>
              </i>March - May 2023
            </div>
            <h3>Food centred Social Network Web App</h3>
            <p>Created in teams of 3, a web app using Angular as the FrontEnd (HTML, SCSS, Typescript), with an API
              created with NodeJS and Express, connected with MongoDB.</p>
          </div>
        </div>

      </div>
    </div>
    <div class="education-column">
      <h3 class="title">Personal Projects</h3>

      <div class="education-box">
        <div class="education-content">
          <div class="content">
            <div class="year">
              <i>
                <mat-icon class="micon">emoji_objects</mat-icon>
              </i> May 2023
            </div>
            <h3>Personal Portfolio (This Website)</h3>
            <p>Developed personal portfolio using Angular to create this static website, tech stack used in it: HTML and
              SASS
              with Typescript.</p>
          </div>
        </div>

        <div class="education-content">
          <div class="content">
            <div class="year">
              <i>
                <mat-icon class="micon">emoji_objects</mat-icon>
              </i> Expected Aug 2023
            </div>
            <h3>Ai Nutrition Web App</h3>
            <p>Web app created with the Open Ai API-(Chat GPT), for intelligent Ai generated nutrition tips.</p>
            <p>Tech Stack (at the moment): Angular, Firebase (backend - database), NodeJS.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
